<div class="container">
    <h1>Registration Form</h1>
    <div *ngIf="errMsg" class="alert alert-danger">
      {{errMsg}}
    </div>
    <form #registrationForm="ngForm" (ngSubmit)="register()">
      <div class="form-group">
        <label for="username">Username</label>
        <input 
          type="text" 
          class="form-control" 
          id="username"
          name="username"
          [(ngModel)]="model.username"
          #username="ngModel"
          pattern="^[A-Z][A-Za-z0-9]+$"
          required >
        <div [hidden]="username.valid || (username.pristine && username.untouched)" class="alert alert-danger">
          Username must start with a capital letter and must contain only letters and digits.
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input 
          type="password" 
          class="form-control" 
          id="password"
          name="password"
          [(ngModel)]="model.password"
          #password="ngModel"
          pattern="^[A-Za-z0-9]{4,16}$"
          required >
        <div [hidden]="password.valid || (password.pristine && password.untouched)" class="alert alert-danger">
          Password must contain only letters and digits and must be between 4 and 16 symbols.
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input 
          type="password" 
          class="form-control" 
          id="confirmPassword"
          name="confirmPassword"
          [(ngModel)]="model.confirmPassword"
          #confirmPassword="ngModel"
          required >
        <div [hidden]="confirmPassword.value === password.value || (confirmPassword.pristine && confirmPassword.untouched)" class="alert alert-danger">
          Both passwords must match.
        </div>
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input 
          type="text" 
          class="form-control" 
          id="firstName"
          name="firstName"
          [(ngModel)]="model.firstName"
          #firstName="ngModel"
          pattern="^[A-Za-z]+$"
          required >
        <div [hidden]="firstName.valid || (firstName.pristine && firstName.untouched)" class="alert alert-danger">
          First Name must contain only letters and start with a capital letter.
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input 
          type="text" 
          class="form-control" 
          id="lastName"
          name="lastName"
          [(ngModel)]="model.lastName"
          #lastName="ngModel"
          pattern="^[A-Za-z]+$"
          required >
        <div [hidden]="lastName.valid || (lastName.pristine && lastName.untouched)" class="alert alert-danger">
          Last Name must contain only letters and start with a capital letter.
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input 
          type="text" 
          class="form-control" 
          id="email"
          name="email"
          [(ngModel)]="model.email"
          #email="ngModel"
          email
          required >
        <div [hidden]="email.valid || (email.pristine && email.untouched)" class="alert alert-danger">
          Please provide valid email!
        </div>
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input 
          type="number" 
          class="form-control" 
          id="age"
          name="age"
          [(ngModel)]="model.age"
          #age="ngModel">
      </div>
  
      <button [disabled]="registrationForm.invalid" type="submit" class="btn btn-success">Register</button>
    </form>
  </div>
  
