<div class="container">
  <div class="row space-top">
    <div class="col-md-12">
      <h1>Welcome to Furniture System</h1>
      <p>Select furniture from the catalog to view details.</p>
    </div>
  </div>
  <div *ngIf='furnitures$ | async as furnitures'>
    <div *ngIf="furnitures.length > 0; else notFound" class="row space-top">
      <div *ngFor="let furniture of furnitures | paginate: {
        id: 'allFurniture',
        itemsPerPage: pageSize,
        currentPage: currentPage
      }" class="col-md-4">
        <div class="card text-white bg-primary">
          <div class="card-body">
            <blockquote class="card-blockquote">
              <img src="{{furniture.image}}" />
              <p>{{furniture.description}}</p>
              <div class="pull-right">
                <a routerLink="/furniture/details/{{furniture.id}}" class="btn btn-info">Details</a>
              </div>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <ng-template #notFound>
        <span>Currently there are no existing furnitures.</span>
    </ng-template>
  </div>
  <pagination-controls
    id="allFurniture"
    (pageChange)="changePage($event)"
    maxSize="9"
    directionLinks="true"
    autoHide="true"
    previousLabel="Previous"
    nextLabel="Next"
    screenReaderPaginationLabel="Pagination"
    screenReaderPageLabel="page"
    screenReaderCurrentLabel="You're on page">
  </pagination-controls>
</div>